.main-media-buttons {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.left-media-buttons {
  float: left;
  text-align: left;
}
.right-media-buttons {
  float: right;
  text-align: right;
}
.media-btn {
  color: #ffffff;
  line-height: 3rem;
}
.media-btn:hover {
  color: #ffffff;
}
footer {
  z-index: 10;
}
.footer-player {
  display: flex;
  z-index: 9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.bar {
  transition: none;
}
.volumeSlider {
  width: 140px;
}
