/* Provide sufficient contrast against white background */
body {
  padding-bottom: 75px;
  background: #f4f7fa;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.tracks-list td,
.tracks-list th {
  vertical-align: middle;
  border: none;
  padding: 10px;
}

.tracks-list td {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}

.musicNameLabel {
  align-self: center;
}
.albumCardMedia {
  width: 171px;
  height: 171px;
}
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  min-height: 50px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.4);
  background-clip: padding-box;
}

main {
  position: relative;
  flex-grow: 1;
  overflow-x: hidden;
  flex-direction: row;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.media-infos-content {
  margin-left: 8px;
}
.flat-button {
  background-color: transparent;
  border: none;
}
.flat-link {
  color: gray;
}
.flat-link:hover {
  text-decoration: none;
  color: whitesmoke;
}
.no-wrap {
  overflow-x: hidden;
  white-space: nowrap;
}
